@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
    /* height: 45vh; */
  }
  main {
    margin-top: 5rem;
  }
  .between {
    font-size: 0.71rem;
  }
  .number {
    margin-top: 1rem;
    font-size: 6rem;
    width: 12rem;
    height: 10rem;
  }
  .btn {
    font-size: 1rem;
    padding: 1rem 1.1rem;
  }
  .message {
    font-size: 0.9rem;
  }
  .right {
    width: 49rem;
  }
  .guess {
    width: 12rem;
    height: 6rem;
    font-size: 2rem;
  }
  .label-score {
    font-size: 1rem;
  }
  .label-highscore {
    font-size: 1rem;
  }
}
